.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: "white";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
img {
  flex:1;
  height: 45px;
  width: auto;
  /* margin-bottom: 175%; */
}
a:link, a:visited {
  flex: 2;
  justify-content: space-between;
  background-color: #0078D2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  margin: 20px;
  width: 30%;
  height: 115px;
  display: inline-block;
}

a:hover {
  color: white;
  background-color: #9DA6AB;
  text-decoration: none;
}
